{% extends "base.html" %}
{% block content %}

{% if message %}
<p>{{ message }}</p>
{% endif %}

<body class="d-flex" style="align-items: center; justify-content: center; height: 100%;">
  <div class="card p-2" style="width: 420px;">
    <form class="form-group" action="" method="post">
      <p>
        <label class="form-label" for="username">Логин</label>
        <input class="form-input" type="text" name="username" placeholder="Логин">
      </p>
      <p>
        <label class="form-label" for="password">Пароль</label>
        <input class="form-input" type="password" name="password" placeholder="Пароль">
      </p>
      <p>
        <input class="btn btn-primary" type="submit">
      </p>
    </form>
  </div>
</body>
{% endblock %}