{% extends "main_layout.html" %}
{% block create %}
<div class="card p-2" style="width: 100%">
  <form class="form-group" action="" method="post">
    <p>
      <label class="form-label" for="username">Юзернейм</label>
      <input class="form-input" type="text" name="username" required placeholder="Юзернейм">
      <label class="form-label" for="title">Название</label>
      <input class="form-input" type="text" name="title" required placeholder="Название">
      <label class="form-label" for="retailPrice">Розничная цена</label>
      <input class="form-input" type="text" name="retailPrice" required placeholder="Розничная цена">
      <label class="form-label" for="wholesalePrice">Оптовая цена</label>
      <input class="form-input" type="text" name="wholesalePrice" required placeholder="Оптовая цена">
      <label class="form-label" for="minSeats">Минимальное количество мест</label>
      <input class="form-input" type="text" name="minSeats" required placeholder="Минимальное количество мест">
      <label class="form-label" for="maxSeats">Максиальное количество мест</label>
      <input class="form-input" type="text" name="maxSeats" required placeholder="Максиальное количество мест">

      <label class="form-label" for="category">Категория</label>

      <select class="form-select" name="category" required placeholder="Категория">
        <option value="EDUCATION">ОБРАЗОВАНИЕ</option>
        <option value="FINANCE">ФИНАНСЫ</option>
        <option value="HEALTH">ЗДОРОВЬЕ</option>

        <option value="NEWS">НОВОСТИ</option>
        <option value="IT">IT</option>
        <option value="ENTERTAINMENT">РАЗВЛЕЧЕНИЯ</option>
        <option value="PSYCHOLOGY">ПСИХОЛОГИЯ</option>
        <option value="VIDEO">ВИДОСНИКИ</option>
        <option value="AUTHOR'S">АВТОРСКИЕ</option>
        <option value="OTHER">ДРУГОЕ</option>
      </select>


      <label class="form-label" for="details">Реквизиты</label>
      <input class="form-input" type="text" name="details" required placeholder="Реквизиты">
    </p>

    <label class="form-label" for="date">Даты</label>
    <input id="input-date" class="form-input" type="text" name="date" required readonly placeholder="Даты">
    <br />
    <div id="container-date"></div>

    <label class="form-label" for="time">Время</label>
    <input id="input-time" class="form-input" type="text" name="time" required readonly placeholder="Время">
    <br />
    <div id="container-time"></div>

    <br />
    <p>
      <input class="btn btn-primary" type="submit">
    </p>
  </form>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}